#scroll-up-btn {
	position: fixed;
	border: 0;
	padding: 0px;
	height: 40px;
	width: 40px;
	bottom: 25px;
	font-size: 1.5rem;
	border-radius: 50%;
	right: 25px;
	box-shadow: 1px 1px 10px #000;
	z-index: 5;
	outline: none;
	min-width: 40px;
    min-height: 40px;
}
